[data-theme='light'] {
  --dark-primary-color: #ffa500; /* Laranja suave, representando o sol */
  --light-primary-color: #ffeb99; /* Amarelo suave, imitando o brilho do sol */
  --primary-color: #ffca28; /* Amarelo dourado mais suave */
  --text-icons: #212121; /* Preto suave para texto e ícones */
  --accent-color: #64b5f6; /* Verde suave para detalhes */
  --primary-text: #424242; /* Cinza escuro suave para texto principal */
  --secondary-text: #9e9e9e; /* Cinza médio para texto secundário */
  --divider-color: #e0e0e0; /* Cinza claro para divisores */
  // body {
  //   background-color: white;
  // }
}
[data-theme='dark'] {
  --dark-primary-color: #283593; /* Azul escuro suave, como o céu noturno */
  --light-primary-color: #7e57c2; /* Roxo suave e sereno, como as estrelas distantes */
  --primary-color: #ff7043; /* Laranja suave, lembrando as estrelas de uma noite calma */
  --text-icons: #ffffff; /* Branco suave para texto e ícones */
  --accent-color: #5c6bc0; /* Azul calmo para detalhes sutis */
  --primary-text: #e0e0e0; /* Cinza claro suave para texto principal */
  --secondary-text: #b0bec5; /* Cinza muito claro para texto secundário */
  --divider-color: #616161; /* Cinza escuro suave para divisores */
  // body {
  //   background-color: black;
  // }
}
.mesage-header {
  .is-danger {
    background-color: #d32f2f !important;
    color: #212121 !important;
  }
}

p,
label {
  color: var(--primary-text) !important;
}
a {
  color: var(--text-icons);
}

.bg-dark-primary {
  background-color: var(--dark-primary-color);
}
.bg-light-primary-color {
  background-color: var(--light-primary-color);
}
.bg-primary-color {
  background-color: var(--primary-color);
}

.secondary-text {
  color: var(--secondary-text);
}

.button {
  background-color: var(--accent-color);
}
#listaBuscados a:last-child {
  background-color: var(--primary-color);
  color: var(--text-icons);
}
.title {
  color: var(--primary-text);
  font-size: 2rem;
}
.subtitle {
  color: var(--secondary-text);
  font-size: 1rem;
}
.navbar-item {
  color: var(--primary-text);
  font-size: large;
  font-family: monospace;
  &:hover {
    background-color: inherit;
  }
  p {
    cursor: pointer;
  }
}
input {
  background-color: transparent !important;
  &::placeholder {
    color: var(--secondary-text) !important;
  }
}
